/* You can add global styles to this file, and also import other style files */

:root {
    --page-title-color: #817A94;
    --card-title-color: #A3A4C0;
    --white: #ffffff;
    --body-bg-color: #FAEAFF;
    --black: #000000;
    --button-bg-color: #8D0E45;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-40: 2.5rem;
    --size-10: 0.625rem;
    --size-12: 0.75rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-32: 2rem;
    --card-divider: #d2cece;
    --font-weight-300: 300;
    --font-weight-500: 500;
}

$breakpoint-mobile: 599px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-large-desktop: 1441px;


body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--body-bg-color);
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
}


.d-flex {
    display: flex;
}

.d-flex-justify-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.mr-2 {
    margin-right: 32px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: $breakpoint-mobile) {
  .cards {
    ul {
        grid-template-columns: 1fr !important;
        row-gap: var(--size-20);
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: $breakpoint-tablet) {
  .cards {
    ul {
        grid-template-columns: 1fr 1fr !important;
        row-gap: 20px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
    body {
        padding: 10px;
    }
    .access-eligibility {
        flex-direction: column !important;
    } 
    .mb-1 {
        margin-bottom: var(--size-16);
    }
}

@media(max-width: 1200px) {
    body {
        padding: 10px;
    }
}